
.el-header,
.el-footer {
    background-color: white;
    color: #333;
    text-align: center;
    line-height: 60px;
}

.el-aside:nth-child(1) {
    color: #333;
    position: fixed;
    overflow: hidden;
}

.el-main {
    color: #333;
    text-align: center;
}

body>.el-container {
    margin-bottom: 40px;
}
